#boton {
  display: block;
  padding: 20px;
  background-color: green;
  color: white;
  margin-top: 25px;
  width: 200px;
  border: 5px solid (6, 86, 6);
  text-decoration: white;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  transition: all 500ms;
}

#boton:hover {
    background: orangered;
    border: 5px solid red;
    border-radius: 10px;
}
#caja {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    color: white;
    border: 5px solid black;
    background: lightseagreen;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    animation-name: desplazamiento;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes desplazamiento {
  0% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
  50% {
    margin-left: 1200px;
    transform: rotate(360deg);
    border-radius: 999px;
  }
  75% {
    background-color: red;
  }
  100% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
}
